.links {
    float: right;
}
.links a{
    text-decoration: none;
    color: rgb(82, 187, 170);
}
header{
    font-size: 2rem;
    padding: 0.5cm 1cm;
    color: rgb(82, 187, 170);
}
body{
    margin: 0;
    padding: 0;
    background: url(https://i.pinimg.com/736x/25/44/5a/25445a43d5ac691372f7091703bb16a2.jpg) no-repeat;
    background-size: cover;
    font-family: sans-serif;
    font-size: 2rem;
}
nav img{
    width: 600px;
    border-radius: 300px;
    margin-top: 100px;
    margin-left: 500px;
    margin-right: 500px;
}
.intro h1{
    text-align:left;
    margin-left: 30px; 
    margin-top: 70px;
    font-size: xx-large;
    padding-top: 25px;
}
.intro h2 {
    text-align:center;
    font-size: xx-large;
    margin-top: 100px;
}
.intro p{
font-style: italic;
text-align: center;
font-weight: 800;
font-size:xx-large;
font-family: cursive;
margin-top: 100px;
padding-top: 100px;
}
article{
    text-align: center;
    background-color: rgb(195, 196, 202);
    margin-top: 70px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 80px;
    padding-bottom: 100px;
}
.social a{
    text-decoration: none;
    color: rgb(82, 187, 170);
}
footer{
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
    border-radius: 200px; 
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 700px;
    background-color: rgb(195, 196, 202);
}
.first{
    background-color: rgb(195, 196, 202);
    text-align: center;
    border-radius: 100px;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
}
section h2{
    margin-left: 35px;
    margin-bottom: 30px;
    margin-top: 5px;
}
section{
    background-color: rgb(195, 196, 202);
    border-radius: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
}
section p{
    margin-left: 200px;
    margin-right: 100px;
}
section img{
float:center;
margin-right: 200px;
margin-left: 100px;
margin-top: 0px;
width: 200px;
height: 200px;
border-radius: 100px;
}