.links {
    float: right;
    padding-bottom: 100px;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 200px; 
    background-color: rgb(195, 196, 202);
}
.links a{
    text-decoration:none;
    color: rgb(54, 122, 111);
}
.name{
    float:left;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 200px; 
    background-color: rgb(195, 196, 202);
}
header{
    font-size: 3rem;
    padding: 0.5cm 1cm;
    color: rgb(54, 122, 111);
}
body{
    margin: 0;
    padding: 0;
    background: url(https://i.pinimg.com/736x/25/44/5a/25445a43d5ac691372f7091703bb16a2.jpg) no-repeat;
    background-size: cover;
    font-family: sans-serif;
    font-size: 2rem;
    min-width: 39em;
}
.pic{
    width: 300px;
    height: 400px;
    border-radius: 150px;
    float: left;
    margin-left: 40px;
}
.intro h1{
    text-align:center;
    margin-left: 50px; 
    margin-top: 70px;
    padding-top: 25px;
}
.intro h2 {
    font-size: xx-large;
    margin-top: 100px;
    text-align: justify;
}
.intro p{
font-style: italic;
text-align: center;
font-weight: 800;
font-size:xx-large;
font-family: cursive;
margin-top: 100px;
padding-top: 100px;
}
article{
    text-align: center;
    background-color: rgb(195, 196, 202);
    margin-top: 70px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 80px;
    padding-bottom: 100px;
}
.firstMain{
    background-color: rgb(117, 135, 181);
    padding-top: 400px;
    padding-bottom: 500px;
    margin-top: 300px;
    margin-bottom: 300px;
    margin-right: 100px;
    margin-left: 100px;
    border-radius: 200px;
}
.social a{
    text-decoration: none;
    color: rgb(82, 187, 170);
}
.social img{
    height: 150px;
    width: 150px;
    border-radius: 75px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgb(255, 255, 255);
        
    }
footer{
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 25px;
    border-radius: 100px; 
    margin-left: 600px;
    margin-right: 600px;
    margin-top: 700px;
    background-color: rgb(195, 196, 202);
}
.first{
    background-color: rgb(195, 196, 202);
    text-align: center;
    border-radius: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.secondMain section h2{
    margin-left: 35px;
    margin-bottom: 20px;
    margin-top: 5px;   
}
.secondMain section{
    border-radius: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 200px;
    margin-top: 200px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgb(195, 196, 202);
}
section p{
    margin-left: 200px;
    margin-right: 100px;
}
section img{
float:center;
margin-right: 200px;
margin-left: 100px;
margin-top: 0px;
width: 200px;
height: 200px;
border-radius: 100px;
}

.secondMain{ background-color: rgb(117, 135, 181);
    padding-top: 150px;
    padding-bottom: 500px;
    margin-top: 300px;
    margin-bottom: 300px;
    margin-right: 100px;
    margin-left: 100px;
    border-radius: 200px;
}
.thirdMain{ background-color: rgb(117, 135, 181);
    padding-top: 100px;
    padding-bottom: 500px;
    margin-top: 300px;
    margin-bottom: 300px;
    margin-right: 100px;
    margin-left: 100px;
    border-radius: 200px;
}
.thirdMain h1{
    text-align: center;
    background-color:  rgb(195, 196, 202);
    border-radius: 200px;
    margin-left: 100px;
    margin-right: 100px;
}
.thirdMain section h2 {
    margin-left: 35px;
    margin-bottom: 20px;
    margin-top: 5px;
}
.thirdMain section p {
    background-color: rgb(242, 243, 247);
    padding-top:30px;
    padding-bottom: 50px;
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 40px;
    border-radius: 50px;
    line-height: 70px;
}
.thirdMain section img{
    height: 300px;
    width: 300px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.thirdMain section {
    background-color: rgb(195, 196, 202);
    border-radius: 100px;
    padding-top: 30px;
    padding-bottom: 200px;
    margin-bottom: 200px;
    margin-top: 200px;
    margin-left: 50px;
    margin-right: 50px;
}
    body{
        min-width: 1488px;
        min-height: 1500px;
    }


    .contactmain {
        margin: 500px;
    }

    .contactmain h1 {
        text-align: center;
    }
    
    form {
        width: 50%;
        margin: 0 auto;
        text-align: center;
      }
      
      label {
        display: inline-block;
        width: 400px;
        text-align: center;
      }

      input[type="text"],
      input[type="email"],
      textarea {
        width: 100%;
        padding: 30px;
        margin: 8px 0;
        box-sizing:content-box;
        border: 2px solid #ccc;
        border-radius: 50px;
        resize:none;
      }
      
      button[type="submit"] {
        background-color: rgb(195, 196, 202);
        color: rgb(54, 122, 111);
        padding: 30px 20px;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      
      button[type="submit"]:hover {
        background-color: #3e8e57;
      }
      
      @media screen and (max-width: 600px) {
        form {
          width: 80%;
        }
        label {
          display: block;
          width: 100%;
          text-align: left;
        }
      }
      